*,
*::before,
*::after{
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p{
  margin: 0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(7, 7, 7); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63); 
  }

body{
    background-color: rgb(7, 7, 7);
    padding-top: 20%;
}

h1{
    color: white;
    padding-left: 10%;
    font-weight: bold;
    font-size: 55px;
    padding-top: 20px;
    font-family: 'Castoro', serif;
}


h2{
    color: white;
    padding-left: 10%;
    font-family: 'Castoro', serif;
}


p{
    color: white;
    padding-left: 10%;
    font-size: 18px;
    font-family: 'Castoro', serif;
}

/* Nav Bar Start */
/* When clicked update */
.topnav a:active{
    background-color: rgb(255, 255, 255);
}

header{
    position: fixed;
    width: 100%;
    top: 1%;
    left: 0;
}

.main{
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}


/* The div for nav bar */
.topnav{
    width: 100%;
    padding-left: 10%;
    overflow: hidden;
    letter-spacing: 7px;
    word-spacing: 30px;
}

.topnav-right{
    float: right;
    padding-right: 10%;
}

.topnav a{
    float: left;
    color: #20bd4a;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #1d1d1d80;
    color: white;
}

.topnav a:hover {
    letter-spacing: 10px; 
    transition: all 1s ease; 
    cursor: pointer
}

@media screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: flex;
      width: 100%;
      text-align: left;
    }

    .topnav-right{
        float: none;
        display: flex;
        width: 100%;
        text-align: left;
    }
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
   .content {
    width: 100%;
    padding-top: 45%;
    
  }

/* For contact page */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  label{
      color: white;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #2c2c2c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    transition: all 0.7s ease;
    color: #20bd4a;
  }

  label[type=fname-text]:hover + label {
    transition: all 0.7s ease;
    color: #20bd4a;
  }

  
  /* Add a background color and some padding around the form */
  .container {
    position: relative;
    left: 450px;
    border-radius: 10px;
    background-color: #242323;
    width: 50%;
    padding: 20px;
    
  }
}